<div>
  <p>
    Cher partenaire,
  </p>
  <br />
  <p>
    Nous vous informons par le biais de ce mail que l'étudiant
    {{student}}
    aimerait vous contacter car il est intéréssé par vos cours
  </p>
  <br />
  <p>
    S'il vous plait, veuillez les appelz dans les prochaines 48h afin de
    répondre à leurs quesitons.

    <br />
  </p>
  <br />
  <p>
    Cordialement,
  </p>
  <br />

  <p>L'équie DOWI Algérie</p>
</div>