<div>
  <p>
    Bonjour,
  </p>
  <br />
  <br />
  <p>
    Vous venez de vous enregistrer sur la plateforme
    <strong>DOWI ALGERIE</strong>
    et nous sommes heureux de vous compter parmi nous.
  </p>
  <br />
  <br />
  <p>
    Néanmoins, nous vous inviter à compléter les informations de votre compte
  <br />
  <br />
  Cordialement,
  <a bref='dowi-algerie.com'>www.dowi-algerie.com</a>
</div>